.ty_card{
    background-size: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

mat-card-actions{
    padding-top: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}