
<mat-toolbar color="primary">
    <button (click)="sidenavleft.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    @if (isDarkMode) {
    <button (click)="onSetTheme('light_mode')" mat-icon-button>
        <mat-icon>dark_mode</mat-icon>
    </button>
    }
    @else {
    <button (click)="onSetTheme('dark_mode')" mat-icon-button>
        <mat-icon>light_mode</mat-icon>
    </button>
    }

</mat-toolbar>

<mat-sidenav-container>
    <!-- Sidebar izquierdo -->
    <mat-sidenav #sidenavleft opened [ngStyle]="{width:'200px'}" mode="side">
        <shared-sidebar></shared-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <!-- Sidebar derecho -->
    <!-- <mat-sidenav #sidenavright opened [ngStyle]="{width:'200px'}" mode="side" position="end">
       
    </mat-sidenav> -->
</mat-sidenav-container>